@font-face {
    font-family: ClashDisplay-Regular;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}

*{
    margin:0;
    padding: 0;
   
}

body{
    background-color:#fafbfc ;
}

.container{
    /* margin: 15px 104px; */

}

.navbar{
    /* margin: 15px 104px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    background-color: #ffffff;
    display: flex;
    height: 87px;


    
}



.navbar-elements{
    margin: 0 104px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo img{
    width: 195px;
    height: 49px;

}



.flights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-name{
    padding-left: 5px;
    font-family: ClashDisplay-SemiBold;
}


.user-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: ClashDisplay-Regular;
}

.user-img img{
    margin-right: 10px;
    width:50px;
    border-radius: 50%;
}

.arrow-down img{
    width: 20px;
    padding-top: 3px;

}


.section-container{
    margin: 20px 104px;
}







.destinations{
    font-family: ClashDisplay-Regular;
    margin: 20px 0;
}

.destinations span{
    font-family: ClashDisplay-Regular;
    color:#FF8682;
    
}


.plane-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plane-type h2{
    font-family: ClashDisplay-Light;
}

.plane-type span{
    color: #FF8682;
}

.location{
    margin: 20px 0;
    display: flex;
    font-family: ClashDisplay-Regular;

}

.location img{
    padding-right: 4px;
    width: 14px;
}

.location-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.btn button{
    width: 150px;
    height: 48px;
    background-color: #FF3D00;
    color: #ffffff;
    font-family: ClashDisplay-SemiBold;
    border: none;
    border-radius: 5px;
}

.big-plane{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-plane img{
    width: 2120px;
}

.h2-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ClashDisplay-ExtraLight;
    font-size: 24px;
    margin: 30px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.policies{
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 40px;
}

.emirates h2{
    font-size: 24px;
    font-family: ClashDisplay-Light;
    padding: 10px;
}

.pre-flight{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.cleaning{
    display: flex;
    font-family: ClashDisplay-Regular;
    margin: 10px;
}




.cleaning img{
    padding-right: 5px;
}

.date{
    margin: 10px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
}



.return-date{
    padding-top: 20px;
    font-family:ClashDisplay-Light;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.plane-accesories{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.plane-arrive{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding-bottom: 20px;
}

.newark{
    display: flex;
    align-items: center;
}


.newark p{
    padding-left: 20px;
    font-family: ClashDisplay-Regular;
}

.newark h2{
    padding-left: 24px;
    font-family: ClashDisplay-Medium;
}

.space{
    height: 120px;
}


.footer{
    width: 100%;
    height: 282px;
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.our-destinations{
    font-family: ClashDisplay-Regular;
}
.our-destinations h4{
    font-family: ClashDisplay-Regular;
    padding-bottom: 10px;
}
.our-destinations p{
    font-family: ClashDisplay-Regular;
    padding-bottom: 5px;
}
.lugina-logo img{
    font-family: ClashDisplay-Regular;
    padding-bottom: 20px;
}


@media(max-width:900px) {
    .big-plane img{
        width: 570px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        gap: 10px;
        width:570px;
        justify-self: center;
    
    }

    .policies{
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 40px;
    }

    .emirates h2{
        font-size: 20px;
        font-family: ClashDisplay-Light;
        padding: 10px 10px  0 10px ;
    }

    .pre-flight{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .pre-flight img{
        width: 20px;
        height: 20px;
    }
    .e-logo img{
        width: 150px;
    }
    .wifi-logo img{
        width: 200px;
    }
    .plane-direction img {
        width: 80px;
    }
    .newark h2{
        font-family: ClashDisplay-SemiBold;
        font-size: 17px;
        padding-left: 5px;
    }
    .space{
        height: 90px;
    }
    .footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        height: 282px;
        justify-self: center;

    }
    .our-destinations{
        width: 100px;
    }
    .air-img img{
        width: 130px;
    }
    .social-medias img{
        width: 100px;
    }
    .footer p{
        font-size: 10px;
    }
}



@media screen and (max-width:767px) {
    .navbar{
        display: flex;
        justify-content: center;;
        align-items: center;
    }
    .user-logo {
        display: none;
    }
    .flights {
        display: none;
    }

    .section-container{
        display: inline;
    }
    
    
    
    
    
    
    
    .destinations{
        font-family: ClashDisplay-Regular;
        font-size: 13px;
        margin: 20px 20px;
        text-align: center;
    }
    
    .destinations span{
        font-family: ClashDisplay-Regular;
        color:#FF8682;
        
    }
    
    
    .plane-type{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }
    .plane-type h2{
        font-family: ClashDisplay-Light;
    }
    
    .plane-type span{
        color: #FF8682;
    }
    
    .location{
        font-size: 14px;
        margin: 20px 0;
        display: flex;
        font-family: ClashDisplay-Regular;
        
    }
    
    .location img{
        padding-right: 4px;
        width: 12px;

    }
    
    .location-btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 10px;
    }
    
    .btn button{
        width: 100px;
        height: 30px;
        background-color: #FF3D00;
        color: #ffffff;
        font-family: ClashDisplay-SemiBold;
        border: none;
        border-radius: 5px;
    }

    .big-plane{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .big-plane img{
        width: 350px;
    }
    .h2-text h2{
        font-size: 30px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        width:300px;
        justify-self: center;
        margin: 0 50px 25px 50px;
    }
    .last{
        display: none;
    }

    .policies{
        background-color: #EEEEEE;
        border-radius: 10px;
        width: 80%;
        margin: 0 40px;


    }
    
    .emirates h2{
        font-size: 20px;
        text-align: center;
        font-family: ClashDisplay-Light;
        padding-top: 10px;
    }
    
    .pre-flight{
       display: block;
       margin: 10px;
       padding:0 10px 10px 10px;
       font-size: 14px;
       
    }
    .date{
        display: gtro;
        width: 90%;
        margin: 0 20px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    }
    
    
    
    .return-date{
        padding-top: 20px;
        font-family:ClashDisplay-Light;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
    }
    
    .plane-accesories{
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
    }
    
    .plane-arrive{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        padding-bottom: 20px;
    }
    
    .newark{
        display: block;
    }
    
    
    .newark p{
        padding-left: 20px;
        font-family: ClashDisplay-Regular;
        font-size: 13px;
    }
    
    .newark h2{
        padding-left: 24px;
        font-family: ClashDisplay-Medium;
        font-size: 15px;
    }

    .e-logo img{
        width: 120px;
    }
    .wifi-logo img{
        width: 150px;
    }
    .plane-direction img{
        width: 40px;
        padding-top: 12px;
    }
    .space{
        display: none;
    }
    .footer{
        width: 100%;
        height: 100px;
        background-color:#F3F3F3;
        text-align: center;
        padding: 20px;
    }
    
    .our-destinations{
        
        display: none;
    }
    .our-destinations h4{
        display: none;
    }
    .our-destinations p{
        display: none;
    }
    .air-img img{
        width: 100px;
        padding-bottom: 10px;

    }
    .lugina-logo{
        margin: 20px 0;
    }

}