@font-face {
    font-family: ClashDisplay-Regular;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}

*{
    margin:0;
    padding: 0;
  
}

body{
    background-color:#fafbfc ;
}

.container{
   

}

.navbar{
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    background-color: #ffffff;
    display: flex;
    height: 87px;


    
}



.navbar-elements{
    margin: 0 104px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo img{
    width: 195px;
    height: 49px;

}



.flights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-name{
    padding-left: 5px;
    font-family: ClashDisplay-SemiBold;
}


.user-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: ClashDisplay-Regular;
}

.user-img img{
    margin-right: 10px;
    width:50px;
    border-radius: 50%;
}

.arrow-down img{
    width: 20px;
    padding-top: 3px;

}

.direction{
    margin:  20px 104px;
    font-family: ClashDisplay-Regular;
}
.direction span{
    color:#FF8682;
    padding: 0 10px;
}
.ticket-price{
    margin:  20px 104px;
    display: flex;
    justify-content: space-between;
}

.ticket{
    width: 930px;
    background-color: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    height: 300px;
}
.airbus h1{
    font-size: 24px;
    font-family: ClashDisplay-ExtraLight;
}
.S240 h1 span{
    color: #FF8682;
    font-size: 32px;
    font-family: ClashDisplay-Semibold;
}
.emirate{
    display: flex;
    justify-content: space-between;
}

.return{
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}
.return p{
    font-family: ClashDisplay-Regular;
    color: #112211;
}

.plane-accesories{
    display: flex;
    justify-content: space-between;
}
.plane-arrive{
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}

.newark{
    display: flex;
    align-items: center;
}

.newark h2{
    font-family: ClashDisplay-Semibold;
    font-size: 24px;
    padding-right: 18px;
}
.newark p{
font-family: ClashDisplay-Regular;
}

.price-fee{

    width: 450px;
    height: 360px;
    background-color: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    
}

.pricee{
    margin: 10px;
}
.ecoonomyf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #112211;
    padding-bottom: 10px;

}


.economy p{
    font-family: ClashDisplay-Regular;
}
.economy h3{
    font-family: ClashDisplay-Semibold;
}

.getobe p{
    font-family: ClashDisplay-Regular;
    padding: 10px 0;
    border-bottom:1px solid #112211;
}
.price-details p{
    font-family: ClashDisplay-Regular;
    padding: 10px 0;
}
.discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d p{
    font-family: ClashDisplay-Regular;
    padding: 10px 0;
}
.d-price p{
    font-family: ClashDisplay-Semibold;
}
.service-fee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #112211;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


.add-new{
    margin:  20px 104px;

}

.new-card{
    width: 900px;
    background-color: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    height: 420px;
}

.big-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.big-text h1{
    font-family: ClashDisplay-Regular;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container form{
    width: 100%;
}

.form-group{
    display: flex;
}
.c-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 904px;
    
}
.c-number fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ClashDisplay-Regular;
    font-size: 14px;
    color: #112211;

}
.c-number fieldset img{
    padding: 5px 10px 10px 10px;
}
.c-number fieldset input{
    margin: 7px 10px 10px 10px; 
    border: none;
    width: 100%;
    font-family: ClashDisplay-Regular;

}
.form-group{
    width: 100%;
    display: flex;
    font-family: ClashDisplay-Regular;
    font-size: 14px;
}
.form-group input{
    border: none;
    width: 423px;
    margin: 7px 10px 10px 10px;
    font-family: ClashDisplay-Regular;
}
.fieldseti{
    margin-right: 10px;
}

.name-on-card fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ClashDisplay-Regular;
    font-size: 14px;
    color: #112211;
}

.name-on-card input{
    margin: 7px 10px 10px 10px; 
    border: none;
    width: 100%;
    font-family: ClashDisplay-Regular;
}
.selecti fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ClashDisplay-Regular;
    font-size: 14px;
    color: #112211;
}
.selecti fieldset select{
    margin: 7px 10px 10px 10px; 
    border: none;
    width: 100%;
    font-family: ClashDisplay-Regular;
} 

.checkbox{
    margin: 15px 0;
    font-family: ClashDisplay-Semibold;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.checkbox label{
    padding-left: 7px;
}

.form-container form button{
    width: 100%;
    padding: 9px;
    background-color: #FF3D00;
    color: white;
    border: none;
    border-radius:4px;
    font-family: ClashDisplay-Semibold;
    margin: 10px 0;
}

.paragraph{
    text-align: center;
    font-family: ClashDisplay-Regular;
    font-size: 14px;
}

fieldset legend{
    padding-left: 5px;
}

.space{
    height: 120px;
}

.footer{
    width: 100%;
    height: 282px;
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our-destinations{
    font-family: ClashDisplay-Regular;
}
.our-destinations h4{
    font-family: ClashDisplay-Regular;
    padding-bottom: 10px;
}
.our-destinations p{
    font-family: ClashDisplay-Regular;
    padding-bottom: 5px;
}
.lugina-logo img{
    font-family: ClashDisplay-Regular;
    padding-bottom: 20px;
}






@media only screen 
and (max-width : 767px){
    .navbar{
        width: 100%;

    }
    .user-logo {
        display: none;
    }
    .flights {
        display: none;
    }

    .direction{
        display: inline;
        font-size: 13px;
    }

    

    .e-logo img{
        width: 120px;
    }
    .wifi-logo img{
        width: 120px;
    }
    .plane-direction img{
        width: 100px;
        padding: 20px 0;
    }

    .ticket-price{
        display: block;
        width: 400px;
        margin: 20px 50px;
    }

    .ticket{
        width: 270px;
        
    }
    .S240 h1 span{
        color: #FF8682;
        font-size: 24px;
        font-family: ClashDisplay-Semibold;
    }
    .emirate{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .plane-arrive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .newark h2{
        font-family: ClashDisplay-Semibold;
        font-size: 15px;
        padding-right: 18px;
    }
    .newark p{
        font-size: 14px;
    }


    .price-fee{
        width: 270px;
        margin: 20px 0;
    }

    .plane-img img{
        width: 70px;
    }
    .economy h3{
        font-size: 14px;
    }
    .economy p{
        font-size: 14px;
    }

    #karta{
        display: inline;
    }

    .new-card{
        width: 300px;
        height: 480px;
        margin:0 15px ;
    }
    .big-text h1{
        font-size: 20px;
    }
    .x-img img{
        padding-top: 5px;
        width: 14px;
    }

    .c-number{
        width: 100%;
        
    }

    .form-group{
        width: 100%;
        display: flex;
        font-family: ClashDisplay-Regular;
        font-size: 14px;
    }
    .form-group input{
        width: 50%;
        margin: 7px 10px 10px 10px;
    }

    
    .space{
        display: none;
    }

    .footer{
        height: 100%;
        width: 100%;

    }
    
    .our-destinations{
        
        display: none;
    }
    .our-destinations h4{
        display: none;
    }
    .our-destinations p{
        display: none;
    }
    .air-img img{
        width: 90px;
        padding-bottom: 10px;

    }
    .social-medias img{
        width: 90px;
    }
    .lugina-logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}


@media only screen and (min-width:768px) and (max-width:1024px) {
    
    .direction{

        margin: 20px 50px;
    }
    
    .ticket-price{
        margin:  0 20px;
        display: block;
    }
    .ticket{
        width: 600px;
        height: 250px;
        margin:20px 40px ;
    }
    .plane-accesories img{
        width: 200px;
    }
    .plane-direction img{
        width: 100px;
    }
    .newark h2{
        font-size: 20px;
    }

    .price-fee{
        margin:40px 120px 0 120px ;
    }

    #karta{
        display: inline;
    }

    .new-card{
        width: 600px;
        height: 420px;
        margin:20px 40px;
    }
    .c-number{
        width: 100%;
        
    }

    .form-group{
        width: 100%;
        display: flex;
        font-family: ClashDisplay-Regular;
        font-size: 14px;
    }
    .form-group input{
        width: 272px;
        margin: 7px 10px 10px 10px;
    }

    .space{
        display: none;
    }

    .footer{
        height: 100%;
        width: 100%;

    }
    
    .our-destinations{
        
        display: none;
    }
    .our-destinations h4{
        display: none;
    }
    .our-destinations p{
        display: none;
    }
    .air-img img{
        width: 140px;
        padding-bottom: 10px;

    }
    .social-medias img{
        width: 140px;
    }
    .lugina-logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

}
