@font-face {
    font-family: ClashDisplay-Regular;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}

*{
    margin:0;
    padding: 0;
    /* font-family: ClashDisplay-Regular; */
}

body{
    background-color:#fafbfc ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar{
    /* margin: 15px 104px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    background-color: #ffffff;
    display: flex;
    height: 87px;


    
}




.navbar-elements{
    margin: 0 104px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo img{
    width: 195px;
    height: 49px;

}



.flights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-name{
    padding-left: 5px;
    font-family: ClashDisplay-SemiBold;
}


.user-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: ClashDisplay-Regular;
}

.user-img img{
    margin-right: 10px;
    width:50px;
    border-radius: 50%;
}

.arrow-down img{
    width: 20px;
    padding-top: 3px;

}

.depart{
    width: 1500px;
    background-color: #ffffff; 
    border: 7px;
    margin:  40px 95px;
    font-family: ClashDisplay-Regular;
    /* display: flex; */
    height: 100px;
    display: flex;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
}

.depart form{
    display: flex;
    align-items: center;
    margin: 0 200px;
}


.from fieldset{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 30px;
}

.from fieldset input{
    border: none;
    font-family: ClashDisplay-Semibold;
    padding: 12px;
    
}
.from fieldset img{
    padding-right: 10px;
}

.trip fieldset{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 30px;
}

.trip fieldset select{
    border: none;
    padding: 12px;
    font-family: ClashDisplay-Semibold;
}

.return fieldset{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 30px;
}

.return fieldset input{
    border: none;
    font-family: ClashDisplay-Semibold;
    padding: 12px;
    
}

.passanger fieldset{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 30px;
}

.passanger fieldset input{
    border: none;
    font-family: ClashDisplay-Semibold;
    padding: 12px;
    
}

.search button{
    background-color:#FF3D00;
    border: none;
    padding: 12px;
    border-radius: 4px;
}

.emirates{
    width: 1500px;
    background-color: #ffffff; 
    border: 7px;
    margin:  40px 95px;
    font-family: ClashDisplay-Regular;
    /*e fshita nji rresht se mu duk i tepert*/
    display: flex;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
}
.very-good{
    width: 100%;
    padding: 0 20px;
}

.reviews{
    display: flex;
    align-items: center;
}
.ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nonstop{
    display: flex;
    align-items: center;
}
.nonstop-2{
    display: flex;
    align-items: center;
}


.numbers{
    border: 2px solid #FF3D00;
    border-radius: 4px;
    font-size: 12px;
}
.numbers p{
    padding: 10px;
    font-family: ClashDisplay-Semibold;
}
.paragraf span{
    font-family: ClashDisplay-Semibold;
    padding-right: 5px;
}
.paragraf{
    font-family: ClashDisplay-Regular;
    padding-left: 8px;
}

.second-ctn{
    margin: 20px;
}
.second-ctn p{
    font-size: 14px;
}
.price p{
    color: #FF3D00;
    font-size: 22px;
    float: right;
    font-family: ClashDisplay-Bold;
}

.nonstop{
    margin-bottom: 20px;
}

.nonstop-2{
    margin-bottom: 20px;
}
.bord{
    border-bottom: 1px solid #112211;
    margin-bottom: 20px;
}
.nonstop input{
    width: 18px;
    height: 18px;
}
.nonstop-2 input{
    width: 18px;
    height: 18px;
}

.nonstop span{
    font-family: ClashDisplay-Semibold;
    padding-left: 15px;
}

.pa{
    padding-left: 15px; 
    font-family: ClashDisplay-Light;
}
.nonstop-2 span{
    font-family: ClashDisplay-Semibold;
    padding-left: 15px;
}

.nonstop .pad{
    padding-left: 30px;
}
.nonstop-2 .pad{
    padding-left: 30px;
}

.EWR{
    padding-left: 60px;
}
.details-btn button{
    width: 100%;
    padding: 10px;
    background-color: #FF3D00;
    color: #ffffff;
    font-family: ClashDisplay-Regular;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.emirate-img img{
    margin: 20px 10px;

}

.results {
    margin:  40px 95px;
    width: 1500px;
}
.results button{
    width: 100%;
    padding: 13px;
    background-color: #000000;
    color: #ffffff;
    font-family: ClashDisplay-Regular;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}
.space{
    height: 120px;
}
.footer{
    width: 100%;
    height: 282px;
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our-destinations{
    font-family: ClashDisplay-Regular;
}
.our-destinations h4{
    font-family: ClashDisplay-Regular;
    padding-bottom: 10px;
}
.our-destinations p{
    font-family: ClashDisplay-Regular;
    padding-bottom: 5px;
}
.lugina-logo img{
    font-family: ClashDisplay-Regular;
    padding-bottom: 20px;
}