* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ClashDisplay-Regular;
  }

  @font-face {
    font-family: ClashDisplay-Regular;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}
  
 
  body {
    background-color: #FAFBFC ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }


  .hero {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    height: 50vh;
    background: url('/assets/Images/backroung.png') center/cover no-repeat;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: absolute;
    top: 0;
  }

  .navbar .left-nav a {
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .sig {
    background-color: white;
    color: rgb(25, 35, 44);
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  .sig a{
    text-decoration: none;
    color: black;
  }
  .sig a:hover{
    text-decoration: none;
    color: white;
  }
  .log{
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
  }
  .log a{
    text-decoration: none; 
    color: white;
  }

  .log a:hover{
    color: black;
  }
  
  .log:hover {
    background-color: white;
    border-color: white;
    color: black;
  }
  .sig:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }

  .hero h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .hero p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  
  .form-container {
    position: relative;
    align-items: center;
    top: -70px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }

  .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .form-group select,
  .form-group input {
    width: 310px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  .submit-btn {
    display: block;
    float: right;
    padding: 12px;
    font-size: 1rem;
    color: white;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn a{
    color: white;
    text-decoration: none;
  }

  .submit-btn:hover {
    background-color: #ff5722;
  }
  .offerts{
    width: 1200px;
    
  }
  .tit{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }
.cards{
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .card {
    display: flex;
    border: 1px solid #e2e8f0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 16px;
    overflow: hidden;
  }
  
  .card-image {
    width: 30%; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 16px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-title {
    font-size: 1.25rem; 
    font-weight: 600;
    margin: 0;
  }
  
  .card-text {
    color: #4a5568; 
    margin-top: 8px;
  }

 .cardd{
  width: 600px;
  height: 530px;
  color: white;
  background-image: url(/assets/Images/backkk.png);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
 }

 .cardd2{
  width: 600px;
  height: 530px;
  color: white;
  background-image: url(/assets/Images/back.png);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
 }
 .fli{
  margin-top: 80px;
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
 }


 .foot{
  
  background-color:#F3F3F3;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 .footer{
    width: 1440px;
    height: 282px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-destinations h4{
    
    padding-bottom: 10px;
}
.our-destinations p{
    
    padding-bottom: 5px;
}
.lugina-logo img{
    
    padding-bottom: 20px;
}
  