@font-face {
    font-family: ClashDisplay-Regular;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}
*{
    font-family:  ClashDisplay-Regular;
}
.container{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    padding-top: 50px;
}

.container img{
    float: right;
    height: 600px;
    padding: 20px;
    padding-right: 120px;
}

.container .AirLugina{
    float: left;
    height: 50px;
    padding-top: 50px;
    padding-left: 120px;
}




